.slide{
    height:60vmin;
    background-color: #f0f0f0;
}
.slide .imageSide{
    height:100%;
    background-position: center;
    background-size: cover;
}
.slide .dataSide{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
}

.slide .dataSide  h2{
    font-size:5vmin;
    font-weight: bolder;
    font-family: Raleway;
    color:#4B38C5;
}
.slide .dataSide p {
    font-size:2vmin;
    font-family: Raleway;
    font-weight: 500;
    width:30vmin;
}

.slide .dataSide span {
    font-size: 3vmin;
    font-weight:bold;
    font-family: Raleway;
    width: 30vmin;
    color:#4B38C5;
}
.carousel-control-prev-icon {
    color:#4B38C5 !important;
}

.slide .imageSide .dataBox{
    display:none
}

@media screen and (max-width: 767px) {
    .slide .dataSide{
        display:none;
    }

    .slide .imageSide{
        height:60vmin;
    }
    .slide .imageSide .dataBox{
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column
    }
    .slide .imageSide h2{
        color:#f8f8f8;
        font-size:7vmin;
        text-shadow: 3px 4px rgba(50, 38, 94, 0.7);
    }
    .slide .imageSide span {
        color: #f8f8f8;
        font-size: 4vmin;
        text-shadow: 3px 4px rgba(50, 38, 94, 0.7);
    }
}